.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instrument-info {
  width: 65vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instrument-image-flex {
  display: flex;
  justify-content: flex-start;
}

.instrument-image {
  margin-right: 15px;
}

.booking {
    border: 2px solid $green;
    width: 35vw;
    height: 75vh;
    margin-left: 10px;
  }

.reviews {
  text-align: left;
}

.booked {
  text-align: center;
  border: 2px solid $green;
  margin: 10px;
  padding: 10px;
}

.profile-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.p-profile {
  margin-bottom: 0;
  margin-right: 8px;

}
