<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1445375011782-2384686778a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
    <h1>
      <span data-controller="typed-js"></span>
    </h1>
</div>

<div class="container">
  <%# <%= link_to instruments_path do %>
    <div class="flex-container">
      <div class="icon-box col-6 col-lg-3">
        <%= image_tag "music_categories/drum-kit.png", style: "width: 100px;" %>
        <p>percussion</p>
      </div>
  <%# <% end %>
  </div>
</div>
