.navbar-lewagon {
  justify-content: space-between;
  background: #1BF2A3;
  height: 80px;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}
