<div class="container">
  <h1><%#= @instrument.category %></h1>
   <%# @instruments = Instrument.find_by(category: params) %>
    <div class="row my-2">
      <% @instruments.each do |instrument| %>
        <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
          <div class="bg-white rounded shadow h-100">
            <% if instrument.photo.attached? %>
              <%= cl_image_tag instrument.photo.key, alt: instrument.name, class: "rounded-top" %>
            <% else %>
              <p>No photo</p>
            <% end %>
          <div class="p-3 rounded-bottom d-flex flex-column">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
