<div class="container">
  <% @instruments = Instrument.find_by(category: params[:category]) %>

  <% if @instruments.nil? %>
    <div>
      <%= "There is no instrument in this category"%>
    </div>
  <% else %>
    <% @instruments.each do |instrument| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <%= image_tag instrument.photo.key, alt: instrument.name, class: "rounded-top" %>
      </div>
    <% end %>
  <% end %>
</div>
